.Dashboard {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 25px;
}
.Dashboard .account-overviews {
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-size: clamp(var(--fz-s), 3vw, var(--fz-lg));
	max-width: 500px;
	width: 100%;
}
.Dashboard .account-overviews .overview-container {
	padding: 25px 15px;
	display: grid;
	grid-template-columns: 7fr 3fr;
	align-items: center;
	background: var(--soft-brand-color);
	transition: var(--transition);
}
.Dashboard .account-overviews .overview-container:hover {
	background: var(----soft-brand-color-hovered);
}

.Dashboard .account-overviews .details {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
}

.Dashboard .account-overviews .details .value {
	font-size: 1.75em;
	font-weight: bold;
}

.Dashboard .account-overviews .details .time-select {
	font-size: 0.75em;
	color: var(--disabled-color);
}
.Dashboard .account-overviews .icon-container {
	width: 90% !important;
	max-width: 80px;
	min-width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background: var(--brand-color-2);
	color: var(--bg-color);
	aspect-ratio: 1 / 1;
	justify-self: center;
}
.Dashboard .account-overviews .icon-container i {
	font-size: clamp(1.75em, 1.5vw, 2.75rem);
}
.AccountOrdersTable {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.AccountOrdersTable .table-container {
	width: 100%;
	max-width: 700px;
	/* in higher media query set this higher */
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.AccountOrdersTable .no-order-container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1%;
	color: var(--gray);
}

/*////////////////////////////////////
				MEDIA QUERIES     
//////////////////////////////////// */

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
	.Dashboard .account-overviews {
		max-width: unset;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}
	.Dashboard .account-overviews .overview-container {
		width: 100%;
	}
}

@media screen and (min-width: 1080px) {
}
