.Store {
	display: grid;
	grid-template-areas:
		'header header'
		'menu body';
	grid-template-columns: minmax(0, 300px) 1fr;
	grid-template-rows: auto 1fr;
	row-gap: 1vh;
	column-gap: 5vw;
	padding: 3vh 3vw;
	min-height: 75vh;
	gap: 2vh;
	position: relative;
}
.Store .page-title {
	grid-area: header;
	justify-self: center;
	text-align: center;
	max-width: 400px;
}

.Store .CategoriesMenu {
	grid-area: menu;
	position: sticky;
	top: 0;
}
.Store.ProductsList {
	grid-area: body;
}

.Store .ProductsList {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-start;
	gap: 2vh;
}
.Store .ProductsList .InputTextBox {
	width: 50%;
	max-width: 350px;
	min-width: 100px;
}

.Store .products-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	place-items: center;
	grid-auto-rows: 500px;
	gap: 1vh;
	width: 100%;
}

.Store .products-container .ProductCard {
	display: grid;
	grid-template-rows: 1fr 1fr;
	justify-content: center;
	width: 100%;
	gap: 15px;
	border-radius: 5px;
	font-size: clamp(var(--fz-s), 2vw, var(--fz-md));
	background: var(--section-bg-color);
	padding: 10% 7%;
	min-height: 500px;
	height: 100%;
	max-height: 500px;
}
.Store .products-container .ProductCard .image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden; /* Will this be trouble in the future? */
	height: 100%;
	user-select: none;
}
.Store .products-container .ProductCard .image-container i {
	font-size: 5em;
	color: var(--light-gray);
}
.Store .products-container .ProductCard .image-container img {
	object-fit: cover;
	height: 100%;
}

.Store .products-container .ProductCard .product-details {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 1em;
	padding: 2%;
	height: 100%;
}

.Store .products-container .ProductCard .product-details .button-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.85em;
	gap: 5%;
}

.Store .products-container .ProductCard .product-details .QuantitySelector {
	align-self: flex-end;
}

.Store .products-container .ProductCard .product-details .name {
	font-size: 1.25em;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	gap: 1vh;
	width: 100%;
}

.Store .products-container .ProductCard .product-details .name > * {
	font-size: 0.75em;
	opacity: 0.75;
	align-self: flex-start;
}

.Store .products-container .ProductCard .product-details .description {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.Store .products-container .ProductCard button.add-to-cart {
	border-radius: 50%;
	aspect-ratio: 1/1;
	position: relative;
	font-size: 2em;
}
.Store .products-container .ProductCard button.add-to-cart .floating {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-30%, -90%);
	font-size: 40%;
	color: var(--bg-color);
}

/*////////////////////////////////////////////////////////// TODO: 768px ~ App
////////////////////////////////////////////////////////// */
@media screen and (min-width: 480px) {
	.Store .products-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		flex-direction: unset;
	}
}
/*////////////////////////////////////////////////////////// TODO: 768px ~ App
////////////////////////////////////////////////////////// */
@media screen and (min-width: 768px) {
	.Store .products-container {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

/*////////////////////////////////////////////////////////// TODO: 768px ~ App
////////////////////////////////////////////////////////// */
@media screen and (min-width: 1280px) {
	.Store .products-container {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}
