.Store {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 3vh 3vw;
	min-height: 75vh;
	gap: 2vh;
}
.Store .page-title {
	text-align: center;
	max-width: 400px;
}
.Store .page-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1vh;
	width: 100%;
	max-width: 1200px;
	margin-top: 7%;
}
.Store .products-container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1vh;
	width: 100%;
}

.Store .products-container .ProductCard {
	display: grid;
	grid-template-columns: 3fr 5fr;
	align-items: flex-start;
	border: 1px solid var(--light-gray);
	gap: 2%;
	border-radius: 5px;
}
.Store .products-container .ProductCard .product-details {
	min-height: 150px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 2%;
}
.Store .products-container .ProductCard .product-details .QuantitySelector {
	align-self: flex-end;
}
/*////////////////////////////////////////////////////////// TODO: 768px ~ App
////////////////////////////////////////////////////////// */
@media screen and (min-width: 480px) {
}
/*////////////////////////////////////////////////////////// TODO: 768px ~ App
////////////////////////////////////////////////////////// */
@media screen and (min-width: 768px) {
}

/*////////////////////////////////////////////////////////// TODO: 768px ~ App
////////////////////////////////////////////////////////// */
@media screen and (min-width: 1280px) {
}
