@keyframes fadeInDown {
	from {
		opacity: 0.01;
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes flipDown {
	from {
		transform-origin: top;
		opacity: 0;
		transform: scaleY(0);
	}
	to {
		opacity: 1;
		transform: scaleY(1);
	}
}

@keyframes fadeIn {
	0% {
		display: unset;
	}
	1% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	99% {
		opacity: 0;
	}
	100% {
		display: none;
	}
}
