.Cart {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 3vh 3vw;
}
.Cart .page-title {
	text-align: center;
}
.Cart .page-body {
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	gap: 5vh;
}
.Cart .cart-items {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
.Cart .cart-items .details-container {
	width: 100%;
	border: 1px solid var(--light-gray);
	padding: 10px;
	height: 150px;
	display: grid;
	grid-template-rows: 1fr auto;
	font-size: 2rem;
}
.Cart .cart-items .details {
	display: grid;
	grid-template-columns: 0.5fr 1fr;
	column-gap: 5px;
	height: 100%;
}
.Cart .cart-items .details .image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}
.Cart .cart-items .details .description {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	height: 100%;
	width: 100%;
}

.Cart .cart-items .details .description .name {
	font-weight: 600;
	text-transform: capitalize;
}
.Cart .cart-items .details .description .desc,
.Cart .cart-items .details .description .total {
	font-size: 0.75em;
	color: var(--gray);
}
.Cart .cart-items .details .description .total {
	font-weight: 600;
}

.Cart .cart-items .details-container .quantity {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 10px;
}
.Cart .cart-items .details-container .quantity input {
	width: 7ch;
	border: 1px solid var(--light-gray);
	border-radius: 4px;
	padding: 5px 10px;
	text-align: center;
}

.Cart .quote {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background: var(--brand-color-1);
	padding: 5vh 3vw;
	border-radius: 4px;
}
.Cart .quote h3,
.Cart .quote label {
	color: var(--bg-color);
}

.Cart .quote .FormContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	max-height: 2000px;
	transition: var(--transition);
}
.Cart .quote .FormContainer > * {
	width: 100%;
}

.Cart .quote .FormContainer .gapped-fields {
	display: flex;
	gap: 1.25em;
}
.Cart .quote .FormContainer .InputTextBox {
	width: 100%;
}

.Cart .quote label {
	font-weight: unset;
	font-size: 0.75em;
}

.Cart .quote input {
	border: 1px solid;
	border-color: transparent;
	color: var(--light-gray);
}

.Cart .quote input:focus {
	border-color: var(--bg-color);
}

.Cart .quote .FormContainer .InputTextBox,
.Cart .quote .FormContainer .gapped-fields:not(:has(.InputTextBox)),
.Cart .quote button.submit-btn {
	margin-top: 25px;
}

.Cart .quote button.submit-btn {
	border-radius: 4px;
	width: 75%;
	padding: 2vh 3vw;
	background-color: var(--brand-color-4);
	color: var(--bg-color);
}
.Cart .quote .FormContainer.isSubmitted {
	max-height: 200px;
}

.Cart .quote .FormContainer.isSubmitted .fade-out {
	animation: fadeOut 1s ease-out forwards;
}

.Cart .quote .FormContainer.isSubmitted .fade-in {
	animation: fadeIn 1s ease-out forwards;
}
