nav ul.pagination {
	display: flex;
	gap: 3px;
}
nav ul.pagination li {
	transition: var(--transition);
}

nav ul.pagination li.page-item,
nav ul.pagination li.page-active {
	padding: 5px;
	border-color: var(--dark-slate);
	border-radius: var(--border-radius);
}

nav ul.pagination li.active a{
	background-color: var(--main-color);
	color: var(--brand-color-1) !important;
	font-weight: 600;
}

nav ul.pagination li.magnify:hover,
nav ul.pagination li.magnify:hover,
nav ul.pagination li.active {
	transform: scale(1.1);
	background-color: var(--main-color-tint);
	border-color: var(--main-slate) !important;
}

nav ul.pagination li.magnify:hover a,
nav ul.pagination li.magnify:hover a {
	color: var(--main-color) !important;
}


.products-container.component {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-top: 3%;
}
.products-container.component .Product {
	background: var(--soft-brand-color);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2vh;
	padding: 5% 10%;
}
.products-container.component .Product .buttons-container {
	display: flex;
	justify-content: space-around;
	width: 100%;
	gap: 10px;
}

.products-container.component .Product .icon-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: clamp(var(--fz-xl), 2vw, 2.2rem);
	border-radius: 50%;
	background-color: transparent;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
	aspect-ratio: 1/1;
	position: relative;
}
.products-container.component .Product .icon-wrapper img,
.products-container.component .Product .icon-wrapper i {
	width: 100%;
}
.products-container.component .Product .icon-wrapper::after {
	content: '';
	position: absolute;
	padding: 1em;
	border-radius: 50%;
	background-color: var(--light-gray);
	opacity: 0;
	cursor: pointer;
	z-index: 1;
	transition: opacity 0.3s ease-out;
}

.products-container.component .Product .icon-wrapper:hover::after {
	opacity: 0.25;
}

.products-container.component .product-wrapper {
	display: grid;
	grid-template-columns: 1fr;
	gap: 3vh 3vw;
	text-align: center;
	justify-items: center;
	width: 100%;
}

.products-container.component .view-all-products-button {
	margin: 2% 0;
}

@media screen and (min-width: 480px) {
	.products-container.component .product-wrapper {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (min-width: 720px) {
	.products-container.component .product-wrapper {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
