@import '@/styles/components/WealthyTable.css';

.QuantitySelector {
	display: grid;
	grid-template-columns: 25% 1fr 25%;
	gap: 5%;
	width: 200px;
	max-height: 45px;
	position: relative;
}
.QuantitySelector::before {
	content: 'Quantity';
	font-size: 0.65em;
	font-weight: 600;
	position: absolute;
	bottom: 105%;
	left: 50%;
	transform: translateX(-50%);
}

.QuantitySelector input {
	width: 100%;
	text-align: center;
	border: 1px solid var(--brand-color-1);
	border-radius: 4px;
}

.FormContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	transition: var(--transition);
	transition-duration: 2s;
}
.FormContainer > * {
	width: 100%;
}

.FormContainer .InputTextBox,
.FormContainer .InputDropdown,
.FormContainer .gapped-fields:not(:has(.InputTextBox)) {
	margin-top: 5%;
}

.FormContainer .InputTextBox,
.FormContainer .InputDropdown {
	width: 100%;
}

.FormContainer .button-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 3vh;
}
.FormContainer .button-container button {
	width: 75%;
}

.FormContainer .form-button {
	margin-top: 5%;
	opacity: 1;
	visibility: visible;
	transition: var(--transition);
}
.FormContainer .hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	user-select: none;
}

.view-all-products-button {
	width: 100%;
	max-width: 200px;
}

.AccountOrdersTable {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.AccountOrdersTable .table-container {
	width: 100%;
	max-width: 700px;
	/* in higher media query set this higher */
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.AccountOrdersTable .no-order-container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1%;
	color: var(--gray);
}
.AccountOrdersTable > button {
	max-width: 175px;
	width: 100%;
	min-width: 100px;
	align-self: flex-start;
}

@media screen and (min-width: 768px) {
	.FormContainer .InputTextBox,
	.FormContainer .InputDropdown,
	.FormContainer .gapped-fields:not(:has(.InputTextBox)) {
		margin-top: 1.5%;
	}

	.view-all-products-button {
		max-width: 250px;
	}
}
