@import '@/styles/components/WealthyTable.css';

.QuantitySelector {
	display: grid;
	grid-template-columns: 25% 1fr 25%;
	gap: 5%;
	width: 200px;
	max-height: 45px;
	position: relative;
}

.QuantitySelector::before {
	content: 'Quantity';
	font-size: 0.65em;
	font-weight: 600;
	position: absolute;
	bottom: 105%;
	left: 50%;
	transform: translateX(-50%);
}

.QuantitySelector input {
	width: 100%;
	text-align: center;
	border: 1px solid var(--brand-color-1);
	border-radius: 4px;
}

.FormContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	transition: var(--transition);
	transition-duration: 2s;
}
.FormContainer > * {
	width: 100%;
}

.FormContainer .InputTextBox,
.FormContainer .InputDropdown,
.FormContainer .gapped-fields:not(:has(.InputTextBox)) {
	margin-top: 5%;
}

.FormContainer .InputTextBox,
.FormContainer .InputDropdown {
	width: 100%;
}

.FormContainer .button-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 3vh;
}
.FormContainer .button-container button {
	width: 75%;
}

.FormContainer .form-button {
	margin-top: 5%;
	opacity: 1;
	visibility: visible;
	transition: var(--transition);
}
.FormContainer .hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	user-select: none;
}

.view-all-products-button {
	width: 100%;
	max-width: 200px;
}

.AccountQuotesTable,
.AccountOrdersTable {
	margin-top: 50px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 25px;
}
.AccountQuotesTable .table-container,
.AccountOrdersTable .table-container {
	width: 100%;
	max-width: 700px;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.AccountQuotesTable .no-order-container,
.AccountOrdersTable .no-order-container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1%;
	color: var(--gray);
}
.AccountOrdersTable > button {
	max-width: 175px;
	width: 100%;
	min-width: 100px;
}
.AccountOrdersTable.empty > button {
	align-self: center;
	margin: 4vh 0;
}

/*////////////////////////////////////
				TreeSelect
//////////////////////////////////// */
.TreeSelect {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	gap: 0.25em;
	border: 1px solid var(--light-gray);
	border-radius: 4px;
	padding: 5%;
	user-select: none;
}
.TreeSelect .branch {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
}
.TreeSelect .branch .item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 5%;
	width: 100%;
	background-color: transparent;
	transition: var(--transition);
	height: 100%;
	padding: 3% 5%;
}

/* inner layer non-parent branches get dashed border */
.TreeSelect .TreeSelect .branch:not(:has(.parent-branch)) .item {
	border-left: 2px dashed var(--light-gray);
	padding-right: unset;
}

/* change border color to selected */
.TreeSelect .branch.selected .item {
	border-color: var(--brand-color-1) !important;
}

.TreeSelect .branch .item li {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.TreeSelect .branch .item:hover {
	background-color: var(--soft-brand-color);
}

.TreeSelect .TreeSelect {
	padding-left: 10%;
	padding-top: 2%;
	border: unset !important;
}

.TreeSelect .expand-btn {
	width: fit-content;
	padding: 0.35em;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--gray);
	transition: background-color 0.2s ease-out;
}
.TreeSelect .expand-btn:has(.expanded) {
	background-color: var(--brand-color-5);
}

.TreeSelect .branch .item.disabled {
	pointer-events: none;
	opacity: 0.8;
	background-color: var(--light-gray);
}
.TreeSelect .branch .item.selected {
	background-color: var(--soft-brand-color);
}

/*////////////////////////////////////
				Input Radio
//////////////////////////////////// */
.InputRadio {
	height: 12px;
	aspect-ratio: 1/1;
	border: 2px solid var(--gray);
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	box-sizing: content-box;
}
.InputRadio:has(.selected) {
	border-color: var(--brand-color-1);
}

.InputRadio .dot {
	width: 75%;
	border-radius: 50%;
	aspect-ratio: 1/1;
	background-color: var(--brand-color-1);
	opacity: 1;
	transition: opacity 0.2s ease-out;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.InputRadio .dot:not(.selected) {
	opacity: 0;
}

/*////////////////////////////////////
				Input Search Dropdown
//////////////////////////////////// */

.InputSearchDropdown {
}

.InputSearchDropdown .dropdown {
	padding: 3px;
	font-size: 0.85em;
	border: 1px solid var(--brand-color-1);
	border-radius: 3px;
	background: var(--bg-color);
}

.InputSearchDropdown .dropdown .loading-text {
	color: var(--brand-color-5);
	font-size: 0.95rem;
	font-weight: 700;
	text-align: center;
}

.InputSearchDropdown .dropdown .loading-text i {
	margin-right: 3%;
}

.InputSearchDropdown .dropdown .option {
	padding: 3% 5%;
	border-radius: 3px;
	transition: var(--transition);
}

.InputSearchDropdown .dropdown .option.active,
.InputSearchDropdown .dropdown .option:hover {
	background-color: var(--light-gray);
	color: var(--brand-color-3);
}

.pill {
	display: inline-block;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	font-size: 1.3rem;
	border: 1px solid;
	text-align: center;
	width: fit-content;
}

.pill.info {
	color: #0958d9;
	background: #e6f4ff;
	border-color: #91caff;
}

.pill.success {
	color: #0f5132;
	background: #d1e7dd;
	border-color: #badbcc;
}

.pill.error {
	color: #842029;
	background: #f8d7da;
	border-color: #f5c2c7;
}

.pill.warning {
	color: #664d03;
	background: #fff3cd;
	border-color: #ffecb5;
}

@media screen and (min-width: 768px) {
	.FormContainer .InputTextBox,
	.FormContainer .InputDropdown,
	.FormContainer .gapped-fields:not(:has(.InputTextBox)) {
		margin-top: 1.5%;
	}

	.view-all-products-button {
		max-width: 250px;
	}
}

@media screen and (min-width: 1024px) {
	.AccountQuotesTable .table-container,
	.AccountOrdersTable .table-container {
		max-width: 1200px;
	}
}
