@import '@/styles/components/WealthyTable.css';

.QuantitySelector {
	display: grid;
	grid-template-columns: 25% 1fr 25%;
	gap: 5%;
	width: 200px;
	max-height: 45px;
	position: relative;
}
.QuantitySelector::before {
	content: 'Quantity';
	font-size: 0.65em;
	font-weight: 600;
	position: absolute;
	bottom: 105%;
	left: 50%;
	transform: translateX(-50%);
}

.QuantitySelector input {
	width: 100%;
	text-align: center;
	border: 1px solid var(--brand-color-1);
	border-radius: 4px;
}
