/* Landing.css */
.Home,
.Home .landing {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 3vh 3vw;
}
.Home .landing {
	padding: 0;
	height: calc(100vh - var(--nav-height));
}

.Home .page-title {
	width: 100%;
	font-family: sans-serif;
	color: var(--brand-color-1);
	font-weight: 800;
	text-align: left;
	line-height: 1.5em;
	margin-top: 5vh;
	font-size: clamp(1.5rem, 5vw, 3rem);
}
.Home .page-title strong {
	font-size: 1.75em;
}
.Home .page-body {
	width: 100%;
}
.Home .page-body section {
	margin: 5vh 0;
}

.Home .image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	max-width: 355px;
	max-height: 40vh;
	min-height: 300px;
}

.Home .image-container img {
	width: 100%;
}

.Home h2.section-title {
	color: var(--brand-color-1);
	width: 100%;
	word-break: break-word;
}

.Home h2.section-title strong {
	font-size: 2em;
	font-weight: 800;
}
.Home .section-container {
	max-width: 1280px;
}

/*/////////////////////////////////

    Intro

/////////////////////////////////*/

.Home .Intro {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 2vh;
	margin-top: 2vh;
}

.Home .Intro strong.description {
	letter-spacing: 0.5px;
	text-transform: uppercase;
	line-height: 3vh;
}

.Home .Intro h2 {
	font-size: clamp(1.75rem, 6vw, 4rem);
	margin: 0;
}

.Home .Intro h1 {
	font-size: clamp(3.5rem, 13vw, 8rem);
	margin: 0;
}

.Home .Intro .buttons-container {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	gap: 5%;
}

.Home .Intro .buttons-container button {
	padding: 2vh 3vw;
	height: 100%;
	text-wrap: nowrap;
}

.Home .Intro .buttons-container #first {
	background-color: var(--brand-color-4);
	color: white;
}

.Home .Intro .buttons-container #second {
	display: flex;
	justify-content: center;
	gap: 5%;
	align-items: center;
	background-color: var(--light-gray);
	color: var(--brand-color-1);
}
.Home .Intro .buttons-container #second i {
	transform: rotate(45deg);
}

.Home .Intro .buttons-container #first:hover {
	background-color: var(--brand-color-5);
}

.Home .Intro .buttons-container #second:hover {
	background-color: var(--brand-color-4);
	color: var(--white) !important;
}

/*/////////////////////////////////

    SalesPitch

/////////////////////////////////*/

.Home .SalesPitch,
.Home .section-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3vh;
	width: 100%;
}

.Home .SalesPitch .box-wrapper {
	display: flex;
	flex-direction: column;
	gap: 2vh;
}

.Home .SalesPitch .box-wrapper .box-container {
	display: grid;
	grid-template-rows: auto 1fr;
	gap: 5%;
	border-radius: 4px;
	background-color: var(--soft-brand-color);
	padding: 3vh 7vw;
	width: 100%;
	max-width: 450px;
}

.Home .SalesPitch .box-wrapper .box-container h3 {
	color: var(--black-text-color);
	font-size: clamp(1.4rem, 2vw, 1.9rem);
}

/*/////////////////////////////////

    Products

/////////////////////////////////*/
.Home .products-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-top: 10%;
}
.Home .products-container .Product {
	background: var(--soft-brand-color);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2vh;
	padding: 5% 10%;
}
.Home .products-container .Product .buttons-container {
	display: flex;
	justify-content: space-around;
	width: 100%;
	gap: 10px;
}

.Home .products-container .Product .icon-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: clamp(var(--fz-xl), 2vw, 2.2rem);
	border-radius: 50%;
	background-color: transparent;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
	aspect-ratio: 1/1;
	position: relative;
}
.Home .products-container .Product .icon-wrapper img,
.Home .products-container .Product .icon-wrapper i {
	width: 100%;
}
.Home .products-container .Product .icon-wrapper::after {
	content: '';
	position: absolute;
	padding: 1em;
	border-radius: 50%;
	background-color: var(--light-gray);
	opacity: 0;
	cursor: pointer;
	z-index: 1;
	transition: opacity 0.3s ease-out;
}

.Home .products-container .Product .icon-wrapper:hover::after {
	opacity: 0.25;
}

.Home .products-container .product-wrapper {
	display: grid;
	grid-template-columns: 1fr;
	gap: 3vh 3vw;
	text-align: center;
	justify-items: center;
	width: 100%;
}

.Home .products-container .view-all-products-button {
	margin: 2% 0;
}

/*/////////////////////////////////

    FAQs

/////////////////////////////////*/
.Home .FAQ {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	padding: 20px;
}

.Home .FAQ .faq-header {
	background-color: var(--brand-color-1);
	color: var(--bg-color);
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-radius: 4px;
	padding: 5%;
	cursor: pointer;
}

.Home .FAQ .bullets-holder {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1vh;
}

.Home .FAQ .bullet-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.Home .FAQ .bullet-container .faq-header span {
	font-size: clamp(var(--fz-xs), 2vw, var(--fz-lg));
	max-width: 85%;
	font-weight: 600;
	margin: 0;
}
.Home .FAQ .bullet-container .faq-header img {
	transform: rotateX(0deg);
	transition: var(--transition);
}
.Home .FAQ .bullet-container.open .faq-header img {
	transform: rotateX(180deg);
}

.Home .FAQ .faq-bullet-content {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border-style: solid solid solid;
	border-color: #7c83b4;
	border-width: 1px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	max-height: 500px;
	background-color: rgba(252, 255, 247, 1);
}

.Home .FAQ .faq-bullet-content:not(.open) .hide {
	display: none;
}

/*/////////////////////////////////

	 LAST SECTION

/////////////////////////////////*/

#lastcomponent {
	background-color: white;
}

#lastcomponent button:hover {
	background-color: var(--brand-color-1);
	color: white;
}

/*/////////////////////////////////

    .ProductsCarousel

/////////////////////////////////*/

.Home .ProductsCarousel {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 90px;
	overflow: hidden;
	position: relative;
	background-color: var(--light-gray);
}

.Home .ProductsCarousel .scroller {
	max-width: 100%;
	overflow: hidden;
	display: flex;
	height: 150px;
	align-items: center;
	width: 100vw;
}

.Home .ProductsCarousel .scroller__inner {
	display: flex;
	transition: transform 0.1s linear; /* Adjust timing and easing as needed */
	white-space: nowrap;
}

.Home .ProductsCarousel h1 {
	font-family: 'Montserrat', sans-serif;
	line-height: 49px;
	font-size: 40rem;
	font-size: clamp(2rem, 2vw, 3.5rem);
	margin: 0;
	padding: 0 10px;
	color: var(--gray);
}

/*/////////////////////////////////

    TODO: Media Query  480px

/////////////////////////////////*/
@media screen and (min-width: 480px) {
	.Home .products-container .product-wrapper {
		grid-template-columns: 1fr 1fr;
	}
}

/*/////////////////////////////////

    TODO: Media Query  768px

/////////////////////////////////*/
@media screen and (min-width: 768px) {
	.Home .landing {
		flex-direction: row-reverse;
		align-items: flex-start;
		justify-content: space-evenly;
		padding-top: 10vh;
		width: 100%;
		gap: 5vw;
	}
	.Home .landing section.hero-section {
		margin-top: 2%;
	}

	.Home .image-container {
		max-width: 40%;
		max-height: 50vh;
	}

	.Home .Intro .buttons-container {
		height: 100%;
	}

	/* ////////// */
	#ComplementaryText {
		font-size: 1.6rem;
		max-width: 580px;
	}

	.Home .box-wrapper {
		flex-direction: row;
		gap: 5vw;
		height: 100%;
	}

	.Home .box-wrapper .box-container {
		padding: 3vh 3vw;
	}

	.FAQ .bullets-holder {
		max-width: 1280px;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		gap: 25px;
		align-items: flex-start;
	}

	.products-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.Home .products-container .product-wrapper {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.Home .products-container .Product .buttons-container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		gap: 10%;
	}

	.Home .SalesPitch .section-container {
		margin-top: 2vh;
		display: grid;
		row-gap: 10vh;
		column-gap: 5vw;
		grid-template:
			'title description' auto
			'extra extra' auto / 1fr 1fr;
		place-items: center;
	}
	.Home .SalesPitch h2.section-title {
		grid-area: title;
	}
	.Home .SalesPitch .description {
		grid-area: description;
	}
	.Home .SalesPitch .box-wrapper {
		grid-area: extra;
	}
}

/*/////////////////////////////////

    TODO: Media Query  1024px

/////////////////////////////////*/
@media screen and (min-width: 1024px) {
	.Home .image-container {
	}
}
