header.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0px;
	z-index: 11;
	padding: 0px 25px;
	width: 100%;
	min-width: 200px;
	height: var(--nav-height);
	background-color: var(--header-color);
	backdrop-filter: blur(10px);
	transition: var(--transition);
	filter: none !important;
	pointer-events: auto !important;
	user-select: auto !important;
}

nav.navbar {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	position: relative;
	width: 100%;
	color: var(--slate);
	font-family: var(--font-mono);
	z-index: 12;
}

nav .burger-button,
nav.navbar {
	align-items: center;
	display: flex;
}

nav .burger-button {
	cursor: pointer;
	font-size: 2.5rem;
	z-index: 100;
	color: var(--main-color);
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}
nav .burger-button:hover {
	border: 3px dashed var(--main-color);
	border-radius: 5px;
}

.nav_StyledLinks {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
	width: 75%;
	min-width: 200px;
	background: #112240;
	transform: translateX(100%);
	visibility: hidden;

	transition: var(--transition);
}

.nav_StyledLinks.opened {
	transform: translateX(0);
	visibility: visible;
}

.nav_StyledLinks ol {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: 400;
	padding: 0;
}

.nav_StyledLinks ol li {
	position: relative;
	margin: 20px 0;
	font-size: var(--fz-lg);
	counter-increment: item 1;
}
.nav_StyledLinks ol li,
.nav_StyledLinks .button-container {
	opacity: 0.01;
	animation: fadeInDown 0.3s var(--easing) forwards;
}

.nav_StyledLinks .button-container .button {
	padding: 0.7rem 1rem;
	font-size: var(--fz-s);
}

.nav_StyledLinks ol li .titled {
	color: var(--slate);
	padding: 10px;
	border: none;
	position: relative;
	font-family: var(--font-sans);
	background-color: unset !important;
}
.nav_StyledLinks ol li .titled:hover,
.nav_StyledLinks ol li .titled:focus {
	color: var(--main-color);
}
.nav_StyledLinks ol li .titled,
.nav_StyledLinks ol li .titled::after,
.nav_StyledLinks ol li .titled::after {
	transition: var(--transition);
	transition-duration: 0.2s;
}

.nav_StyledLinks ol li .titled::after,
.nav_StyledLinks ol li .titled::after {
	content: attr(data-title);
	color: var(--slate);
	width: fit-content;
	font-size: 1rem;
	padding: 0.5em 0.75em;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 110%;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--tooltip-background);
	pointer-events: none;
	user-select: none;
	opacity: 0;
	border-radius: var(--border-radius);
}
.nav_StyledLinks ol li .titled:hover::after,
.nav_StyledLinks ol li .titled:focus::after {
	opacity: 1;
}

nav.navbar .nav_StyledLinks .nav-link {
	
}

/*////////////////////////////////////
				Breadcrumb     
//////////////////////////////////// */

.Breadcrumb {
	display: flex;
	align-items: center;
	gap: 3px;
	margin: 1.5rem 0 2rem 0;
	font-size: var(--fz-md);
	color: var(--dark-slate);
}

.Breadcrumb span.seperator {
	scale: 1.25;
	position: relative;
	left: 1px;
}

.Breadcrumb span.active {
	color: var(--brand-color-2);
}

/*////////////////////////////////////
				MEDIA QUERIES     
//////////////////////////////////// */

/* TODO: 375px ~ NavBar */
@media screen and (min-width: 375px) {
}

/* TODO: 768px ~ NavBar */
@media screen and (min-width: 768px) {
	header.header {
		padding: 0px 40px;
	}
	nav .burger-button {
		display: none !important;
	}

	.nav_StyledLinks {
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		position: relative;
		inset: unset;
		height: auto;
		width: auto;
		background: none;
		transform: none;
		visibility: visible;
	}
	.nav_StyledLinks.closed,
	.nav_StyledLinks.opened {
		animation: none;
	}

	.nav_StyledLinks ol {
		flex-direction: row;
	}
	.nav_StyledLinks ol li {
		font-size: var(--fz-s);
	}
	.nav_StyledLinks ol li .titled::before {
		position: relative;
		top: unset;
		left: unset;
		transform: unset;
		font-size: var(--fz-xxs);
	}
	.nav_StyledLinks ol li .titled {
		min-width: 55px;
	}

	.nav_StyledLinks .button-container {
	}
	.nav_StyledLinks .button-container .button {
		margin-left: 15px;
	}
}

/*////////////////////////////////////////////////////////// TODO: 1024px ~ NavBar.css
////////////////////////////////////////////////////////// */
@media screen and (min-width: 1024px) {
	header.header {
		padding: 0px 50px;
	}
}
