header.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 11;
	width: 100%;
	min-width: 200px;
	max-height: var(--nav-height);
	height: var(--nav-height);
	min-height: var(--nav-height);
	background-color: var(--header-color);
	backdrop-filter: blur(10px);
	transition: var(--transition);
	filter: none !important;
	pointer-events: auto !important;
	user-select: auto !important;
	position: sticky;
	top: 0;
}

nav.navbar {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	position: relative;
	width: 100%;
	color: var(--slate);
	font-family: var(--font-mono);
	z-index: 12;
	height: 100%;
}

nav.navbar .Breadcrumb {
	display: none;
}

nav.navbar .app-title-container {
	min-width: 150px;
	padding: 0 0.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

nav.navbar .navbar-container {
	width: 100%;
	gap: 5px;
	display: grid;
	grid-template-columns: auto 1fr;
	padding: 0 5%;
}
nav.navbar .navbar-container > * {
	width: 100%;
}

nav.navbar .navbar-container .current-route-details {
	display: none;
	align-items: center;
	justify-content: flex-start;
	font-size: clamp(var(--fz-s), 1vw, var(--fz-xl));
	color: var(--black-text-color);
}

nav.navbar .navbar-container .options {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	grid-column: 2;
}

nav.navbar .navbar-container .options > * {
	width: fit-content;
	color: var(--brand-color-1);
}

nav.navbar .navbar-container .FloatingMenu {
	width: fit-content;
	padding: 0 5px;
}

nav.navbar .navbar-container .search-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

nav.navbar .navbar-container .search-container.is-hidden .floating-button {
	position: relative;
	background-color: unset;
	color: var(--brand-color-1);
}

nav.navbar .navbar-container .search-container .floating-button {
	position: absolute;
	right: 0;
	width: fit-content;
	padding: 5px;
}

nav.navbar .navbar-container .search-container.is-hidden .InputTextBox,
nav.navbar .navbar-container .search-container:not(.is-hidden) .floating-button {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	user-select: none;
}

nav.navbar .navbar-container .search-container .InputTextBox {
	max-width: 100%;
	transition: var(--transition);
	transition-delay: 0.05s;
}

nav.navbar .navbar-container .search-container.is-hidden .InputTextBox {
	max-width: 0px;
}

nav .burger-button {
	align-items: center;
	display: flex;
}

nav .burger-button {
	cursor: pointer;
	font-size: 2.5rem;
	z-index: 100;
	color: var(--main-color);
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}
nav .burger-button:hover {
	border: 3px dashed var(--main-color);
	border-radius: 5px;
}

.nav_StyledLinks {
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
	width: 0px;
	overflow: hidden;
	display: flex;
	background: var(--section-bg-color);
	visibility: hidden;
	transform: rotateY(15deg);
	box-shadow: 1px 0px 7px 2px rgba(0, 0, 0, 0.2);
	transition: var(--transition);
}
.nav_StyledLinks.opened .sliding-nav-container {
	pointer-events: all;
	opacity: 1;
}
.nav_StyledLinks .sliding-nav-container {
	pointer-events: none;
	width: 75vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity 0.3s var(--easing);
}
.nav_StyledLinks .sliding-nav-container .gapped-fields {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: clamp(25px, 5vh, 35px);
	margin-top: 10vh;
}

.nav_StyledLinks.opened {
	visibility: visible;
	width: 75vw;
	transform: rotateY(0deg);
}

.nav_StyledLinks ol {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: 400;
	padding: 0;
	gap: clamp(10px, 5vh, 35px);
}

.nav_StyledLinks ol li {
	position: relative;
	font-size: var(--fz-lg);
	counter-increment: item 1;
}
.nav_StyledLinks ol li,
.nav_StyledLinks .button-container {
	opacity: 0.01;
	animation: fadeInDown 0.3s var(--easing) forwards;
}

.nav_StyledLinks .button-container .button {
	padding: 0.7rem 1rem;
	font-size: var(--fz-s);
}

/*////////////////////////////////////
public Nav
//////////////////////////////////// */

.header.public .navbar {
	box-shadow: unset;
	display: flex;
	justify-content: space-between;
	padding: 0 3vw;
	position: relative;
}

/*////////////////////////////////////
				SideBar 
//////////////////////////////////// */

nav.Sidebar {
	position: fixed;
	bottom: 2%;
	width: 95%;
	height: 50px;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.15);
	background-color: var(--white);
	padding: 2px 5px;
	border-radius: 3px;
	z-index: calc(infinity);
}
nav.Sidebar .app-title-container {
	display: none;
	height: var(--nav-height);
	justify-content: center;
	align-items: center;
	gap: 7px;
	width: 100%;
}

nav.Sidebar ul,
nav.Sidebar ul li {
	display: flex;
	align-items: center;
}

nav.Sidebar ul {
	height: 100%;
	width: 100%;
	justify-content: space-evenly;
	gap: 5px;
}

nav.Sidebar ul li {
	height: 90%;
	width: 100%;
	justify-content: center;
	background-color: transparent;
	transition: var(--transition);
}
nav.Sidebar ul li:hover {
	background-color: var(--light-gray);
}
nav.Sidebar ul li.active {
	color: var(--brand-color-2);
	background-color: var(--soft-brand-color);
}

nav.Sidebar ul .path-label {
	display: none;
}

/*////////////////////////////////////
				Breadcrumb     
//////////////////////////////////// */

.Breadcrumb {
	display: flex;
	align-items: center;
	gap: 3px;
	color: inherit;
	font-size: clamp(1rem, 2vw, 1.5rem);
}

.Breadcrumb span.seperator {
	scale: 1.25;
	position: relative;
	left: 1px;
}
.Breadcrumb a {
	color: inherit;
}

.Breadcrumb span.active {
	color: var(--brand-color-2);
}

/*////////////////////////////////////
				MEDIA QUERIES     
//////////////////////////////////// */

/* TODO: 375px ~ NavBar */
@media screen and (min-width: 375px) {
}

/* TODO: 768px ~ NavBar */
@media screen and (min-width: 768px) {
	nav.navbar {
		height: 100%;
		box-shadow: 0px -1px 4px 1px rgba(0, 0, 0, 0.1);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	nav.navbar .app-title-container {
		display: none;
	}

	nav.navbar .Breadcrumb {
		display: flex;
	}

	header.header {
		padding: unset;
	}

	nav.navbar .navbar-container .current-route-details {
		display: flex;
	}
	nav .burger-button {
		display: none !important;
	}

	.nav_StyledLinks {
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		position: unset;
		inset: unset;
		height: auto;
		background: none;
		transform: none !important;
		visibility: visible;
		gap: 20px;
		width: 100%;
		box-shadow: unset;
	}

	.nav_StyledLinks ol {
		flex-direction: row;
		gap: 20px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
	.nav_StyledLinks ol li {
		font-size: var(--fz-s);
	}
	.nav_StyledLinks ol li .titled::before {
		position: relative;
		top: unset;
		left: unset;
		transform: unset;
		font-size: var(--fz-xxs);
	}
	.nav_StyledLinks ol li .titled {
		min-width: 55px;
	}

	.nav_StyledLinks .button-container .button {
		margin-left: 15px;
	}

	.nav_StyledLinks .sliding-nav-container {
		pointer-events: all;
	}
	.nav_StyledLinks.opened {
	}

	/*////////////////////////////////////
						SideBar 
		//////////////////////////////////// */

	nav.Sidebar {
		position: sticky;
		top: 0;
		max-width: var(--nav-title-width);
		min-width: var(--nav-title-width);
		bottom: unset;
		left: unset;
		transform: unset;
		height: 100%;
		background-color: var(--white);
		padding: unset;
		box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.25);
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	nav.Sidebar .app-title-container {
		display: flex;
	}

	nav.Sidebar ul {
		flex-direction: column;
		height: fit-content;
		width: 80%;
		justify-content: flex-start;
		gap: 10px;
	}

	nav.Sidebar ul li {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 15px;
		position: relative;
		padding: unset;
		height: 50px;
		min-height: fit-content;
		padding: 0 10px;
		animation-delay: unset !important;
		transition: unset !important;
	}
	nav.Sidebar ul li:hover {
		background-color: var(--light-gray);
	}

	nav.Sidebar ul li .path-label {
		position: absolute;
		left: 25%;
		display: flex;
	}
	.nav_StyledLinks .sliding-nav-container {
		flex-direction: row;
		justify-content: flex-end;
		opacity: 1;
	}

	.nav_StyledLinks .sliding-nav-container .gapped-fields {
		flex-direction: row;
		gap: 1.23em;
		margin-top: unset;
	}
}

/*////////////////////////////////////////////////////////// TODO: 1024px ~ NavBar.css
////////////////////////////////////////////////////////// */
@media screen and (min-width: 1024px) {
	.header.public {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.header.public .navbar {
		padding: 0px 50px;
	}
}
