header.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0px;
	z-index: 11;
	padding: 0px 25px;
	width: 100%;
	min-width: 200px;
	height: var(--nav-height);
	background-color: var(--header-color);
	backdrop-filter: blur(10px);
	transition: var(--transition);
	filter: none !important;
	pointer-events: auto !important;
	user-select: auto !important;
}

nav.navbar {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	position: relative;
	width: 100%;
	color: var(--slate);
	font-family: var(--font-mono);
	z-index: 12;
}

nav.navbar .app-title-container {
	font-size: clamp(var(--fz-md), 1vw, var(--fz-xxl));
}

nav.navbar .navbar-container {
	width: 100%;
	gap: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 5%;
}
nav.navbar .navbar-container > * {
	width: 100%;
}

nav.navbar .navbar-container .current-route-details {
	display: none;
	align-items: center;
	justify-content: flex-start;
	font-size: clamp(var(--fz-s), 1vw, var(--fz-xl));
	color: var(--black-text-color);
}

nav.navbar .navbar-container .options {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

nav.navbar .navbar-container .options > * {
	width: fit-content;
	color: var(--brand-color-1);
}

nav.navbar .navbar-container .FloatingMenu {
	width: fit-content;
	padding: 0 5px;
}

nav.navbar .navbar-container .search-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

nav.navbar .navbar-container .search-container.is-hidden .floating-button {
	position: relative;
	background-color: unset;
	color: var(--brand-color-1);
}

nav.navbar .navbar-container .search-container .floating-button {
	position: absolute;
	right: 0;
	width: fit-content;
	padding: 5px;
}

nav.navbar .navbar-container .search-container.is-hidden .InputTextBox,
nav.navbar .navbar-container .search-container:not(.is-hidden) .floating-button {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	user-select: none;
}

nav.navbar .navbar-container .search-container .InputTextBox {
	max-width: 100%;
	transition: var(--transition);
	transition-delay: 0.05s;
}

nav.navbar .navbar-container .search-container.is-hidden .InputTextBox {
	max-width: 0px;
}

nav .burger-button {
	align-items: center;
	display: flex;
}

nav .burger-button {
	cursor: pointer;
	font-size: 2.5rem;
	z-index: 100;
	color: var(--main-color);
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}
nav .burger-button:hover {
	border: 3px dashed var(--main-color);
	border-radius: 5px;
}

.nav_StyledLinks {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
	width: 75%;
	min-width: 200px;
	background: #112240;
	transform: translateX(100%);
	visibility: hidden;

	transition: var(--transition);
}

.nav_StyledLinks.opened {
	transform: translateX(0);
	visibility: visible;
}

.nav_StyledLinks ol {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: 400;
	padding: 0;
}

.nav_StyledLinks ol li {
	position: relative;
	margin: 20px 0;
	font-size: var(--fz-lg);
	counter-increment: item 1;
}
.nav_StyledLinks ol li,
.nav_StyledLinks .button-container {
	opacity: 0.01;
	animation: fadeInDown 0.3s var(--easing) forwards;
}

.nav_StyledLinks .button-container .button {
	padding: 0.7rem 1rem;
	font-size: var(--fz-s);
}

/*////////////////////////////////////
				SideBar 
//////////////////////////////////// */

nav.Sidebar {
	position: fixed;
	bottom: 2%;
	width: 95%;
	height: 50px;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.15);
	background-color: var(--white);
	padding: 2px 5px;
	border-radius: 3px;
}
nav.Sidebar ul,
nav.Sidebar ul li {
	display: flex;
	align-items: center;
}

nav.Sidebar ul {
	height: 100%;
	width: 100%;
	justify-content: space-evenly;
	gap: 5px;
}

nav.Sidebar ul li {
	height: 90%;
	width: 100%;
	justify-content: center;
	background-color: transparent;
	transition: var(--transition);
}
nav.Sidebar ul li:hover {
	background-color: var(--light-gray);
}
nav.Sidebar ul li.active {
	color: var(--brand-color-2);
}

nav.Sidebar ul .path-label {
	display: none;
}

/*////////////////////////////////////
				Breadcrumb     
//////////////////////////////////// */

.Breadcrumb {
	display: flex;
	align-items: center;
	gap: 3px;
	color: inherit;
}

.Breadcrumb span.seperator {
	scale: 1.25;
	position: relative;
	left: 1px;
}
.Breadcrumb a {
	color: inherit;
}

.Breadcrumb span.active {
	color: var(--brand-color-2);
}

/*////////////////////////////////////
				MEDIA QUERIES     
//////////////////////////////////// */

/* TODO: 375px ~ NavBar */
@media screen and (min-width: 375px) {
}

/* TODO: 768px ~ NavBar */
@media screen and (min-width: 768px) {
	nav.navbar {
		height: 100%;
		box-shadow: 0px -1px 4px 1px rgba(0, 0, 0, 0.1);
	}

	header.header {
		padding: unset;
	}

	nav.navbar .navbar-container .current-route-details {
		display: flex;
	}
	nav .burger-button {
		display: none !important;
	}

	.nav_StyledLinks {
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		position: relative;
		inset: unset;
		height: auto;
		width: auto;
		background: none;
		transform: none;
		visibility: visible;
	}
	.nav_StyledLinks.closed,
	.nav_StyledLinks.opened {
		animation: none;
	}

	.nav_StyledLinks ol {
		flex-direction: row;
	}
	.nav_StyledLinks ol li {
		font-size: var(--fz-s);
	}
	.nav_StyledLinks ol li .titled::before {
		position: relative;
		top: unset;
		left: unset;
		transform: unset;
		font-size: var(--fz-xxs);
	}
	.nav_StyledLinks ol li .titled {
		min-width: 55px;
	}

	.nav_StyledLinks .button-container .button {
		margin-left: 15px;
	}

	/*////////////////////////////////////
						SideBar 
		//////////////////////////////////// */

	nav.navbar .app-title-container {
		width: var(--nav-title-width);
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: 2px -3px 4px 1px rgba(0, 0, 0, 0.25);
	}

	nav.Sidebar {
		position: relative;
		width: var(--nav-title-width);
		min-width: var(--nav-title-width);
		bottom: unset;
		left: unset;
		transform: unset;
		height: 100%;
		background-color: var(--white);
		padding: unset;
		box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.25);
		display: flex;
		justify-content: center;
		align-items: flex-start;
		padding-top: 4vh;
	}

	nav.Sidebar ul {
		flex-direction: column;
		height: fit-content;
		width: 80%;
		justify-content: flex-start;
		gap: 10px;
	}

	nav.Sidebar ul li {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 15px;
		position: relative;
		padding: unset;
		height: 50px;
		min-height: fit-content;
		padding: 0 10px;
		animation-delay: unset !important;
		transition: unset !important;
	}
	nav.Sidebar ul li:hover {
		background-color: var(--light-gray);
	}
	nav.Sidebar ul li.active {
		color: var(--brand-color-2);
	}
	nav.Sidebar ul li .path-label {
		position: absolute;
		left: 25%;
		display: flex;
	}
}

/*////////////////////////////////////////////////////////// TODO: 1024px ~ NavBar.css
////////////////////////////////////////////////////////// */
@media screen and (min-width: 1024px) {
}
