.store-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 80vh;
	padding: 20px;
}

.store-page .page-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.store-page .page-header button {
	font-family: 'Inter', sans-serif;
	align-self: flex-start;
}

.creation-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px 0px;
	max-width: 1440px;
}

.crudForm {
	display: flex;
	flex-direction: column;
	width: 80%;
	max-width: 250px;
	gap: 20px;
}

.crudForm .InputDropdown,
.crudForm .InputTextBox {
	width: 100%;
}

.crudForm button{
	font-family: 'Inter', sans-serif;
	background-color: var(--brand-color-1);
	align-self: center;
}

.products-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.store-page .page-title {
	font-family: 'Montserrat', sans-serif;
	color: var(--brand-color-1)
}

.products-container .product {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 10px;
	border: 1px solid white;
	width: 100%;
}
