.store-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 80vh;
	padding: 20px;
	width: 100%;

	align-self: center;
}

.store-page .page-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.store-page .header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
}

.store-page .page-header button {
	font-family: 'Inter', sans-serif;
	align-self: flex-start;
}

.store-page .creation-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px 0px;
	max-width: 1440px;
}
.creation-container .header {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	padding: 0px 20px;
}

.creation-container .header i {
	font-size: 16px;
	margin-right: 5px;
}

.store-page.creation-container h3 {
	font-family: 'Montserrat', sans-serif;
	color: var(--brand-color-1);
	font-size: 2rem;

}

.store-page.creation-container #page-header-text {
	margin-bottom: 50px;;

}

.crudForm {
	display: flex;
	flex-direction: column;
	width: 80%;
	gap: 20px;
}
.crudForm .InputDropdown,
.crudForm .InputTextBox {
	max-width: 250px;
}

.crudForm .InputDropdown,
.crudForm .InputTextBox {
	width: 100%;
}

.crudForm button{
	font-family: 'Inter', sans-serif;
	background-color: var(--brand-color-1);
	align-self: center;
}

.products-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.products-container .product {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 10px;
	border: 1px solid white;
	width: 100%;
}
