/*////////////////////////////////////
				TABLE     
//////////////////////////////////// */
table {
	width: 100%;
	margin: 0;
	padding: 0;
	table-layout: fixed;
}

table thead {
	border: none;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

table tr {
	border-bottom: 3px solid red;
	display: block;
	margin-bottom: 0.625em;
	border: 1px solid var(--slate);
	border-radius: var(--border-radius);
	padding: 0.35em;
}
table tr:last-of-type {
	margin-bottom: 0;
}

table th {
	font-size: 0.85em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

table th,
table td {
	padding: 0.625em;
	text-align: center;
}

table td {
	border-bottom: 1px solid var(--dark-slate);
	display: block;
	font-size: 0.8em;
	text-align: right;
	min-height: 45px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	line-break: anywhere;
}

table td:last-of-type {
	border-bottom: none;
}

table td::before {
	content: attr(data-label);
	font-weight: bold;
	text-transform: uppercase;
	line-break: strict;
	font-size: clamp(8px, 4vw, 14px);
}
table td button {
	line-break: strict;
	text-wrap: nowrap;
	padding: clamp(0.2em, 5vw, 1em) clamp(0.2em, 2vw, 1.5em);
}

table.table-dark tbody tr {
	background-color: var(--section-bg-color);
}

.table-container {
	align-items: flex-end;
	gap: 5px;
	width: 100%;
	padding: 5px;
}
.table-container .InputTextBox {
	width: 25%;
	min-width: 150px;
}

.table-container .sort-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: fit-content;
	position: absolute;
	right: 2%;
	top: 50%;
	transform: translateY(-50%);
	font-size: 0.75em;
}

.table-container .sort-container i {
	transition: var(--transition);
}

.table-container .sort-container i:not(.active) {
	opacity: 0.35;
}

@media screen and (min-width: 600px) {
	/*////////////////////////////////////
				TABLE     
//////////////////////////////////// */
	table {
		/* table-layout: unset; */
	}
	table.table-dark {
		background-color: var(--section-bg-color);
	}
	table.table-dark thead {
		background-color: var(--darker-slate);
	}
	table thead {
		clip: unset;
		height: unset;
		margin: unset;
		overflow: auto;
		padding: unset;
		position: relative;
		width: unset;
	}

	table thead tr {
		font-size: clamp(1.2rem, 1.75vw, 1.6rem);
	}

	table tr {
		border-bottom: 1px solid var(--dark-slate);
		display: table-row;
		margin-bottom: unset;
	}

	table tr:last-of-type {
		margin-bottom: unset;
	}

	table td {
		border-bottom: unset;
		display: table-cell;
		font-size: 0.8em;
		text-align: unset;
		overflow: hidden;
	}

	table td:last-of-type {
		border-bottom: unset;
	}

	table td::before {
		display: none;
	}
	table th {
		position: relative;
	}
	table th,
	table td {
		text-align: left;
	}

	table.table-dark tbody tr {
		background-color: unset;
	}
}
