.App .Orders {
	display: flex;
	flex-direction: column;
	gap: 25px;
}
.App .Orders .orders-table {
	display: grid;
	grid-template-rows: auto 1fr;
	height: 100%;
	gap: 10px;
	justify-content: center;
}
.App .Orders .orders-table > button {
	max-width: 175px;
	width: 100%;
	min-width: 100px;
}
.App .Orders .page-title {
	text-align: center;
}

.App .Orders .orders-table .container-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
}
.App .Orders .orders-table .container-header .InputTextBox {
	width: 100%;
	height: 100%;
}

.Orders .orders-page-container {
	width: fit-content;
	height: fit-content;
}

.Orders .orders-page-container .orders-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.Orders .orders-page-container .orders-page h3 {
	margin-bottom: 25px;
}

.Orders .orders-page-container .add-product-container {
	display: flex;
	gap: 5px;
	align-items: center;
}

.Orders .orders-page-container .add-product-container button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	align-self: flex-end;
}

.Orders .orders-page-container .add-product-container,
.Orders .orders-page-container .buttons-container {
	margin-top: 3vh;
}

.Orders .orders-page-container .buttons-container {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	max-width: 250px;
}

@media screen and (min-width: 480px) {
	.Orders .orders-page-container .add-product-container {
		gap: 10px;
		max-width: 500px;
	}
	/* .add-product-container {
	} */
}

@media screen and (min-width: 768px) {
	.Orders .orders-page-container .orders-page {
		height: 75vh;
		justify-content: flex-start;
	}
	.Orders .orders-page-container .add-product-container,
	.Orders .orders-page-container .buttons-container {
		margin-top: 10%;
	}
}

/* @media screen and (min-width: 1440px) and (min-height: 1618px) {
} */
